h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 266px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-update {
    background-color: #007BFF; /* Bootstrap primary color */
}

.btn-update:hover {
    background-color: #0056b3; /* Darker shade for hover */
}

.btn-delete {
    background-color: #dc3545; /* Bootstrap danger color */
}

.btn-delete:hover {
    background-color: #c82333; /* Darker shade for hover */
}

.button-container {
    text-align: center;
  }
  
  /* Styled button */
  .styled-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
   
  }
  
  /* Hover effect */
  .styled-button:hover {
    background-color: #45a049;

  }
  
  /* Active (click) effect */
  .styled-button:active {
    background-color: #3e8e41;

  }