/* Button grid container */

body {
    font-family: "Libre Baskerville", serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.button-grid {
    font-family: "Libre Baskerville", serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ensure 3 buttons per row */
    gap: 20px;
    width: 100%; /* Fill the content area */
    max-width: 800px;
    margin: 20px auto; /* Center the grid */
    padding: 0 10px; /* Add padding for spacing */
    margin-top: 3%;
}

/* Buttons */
.button-grid button {
    padding: 15px 0; /* Increase padding for larger buttons */
    font-size: 14px; /* Increase font size */
    text-transform: uppercase;
    color: #ffffff;
    background: #0053a6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    width: 100%; /* Ensure buttons fill the grid cells */
    text-align: center;
}

/* Button hover effect */
.button-grid button:hover {
    background: #003f8a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Button focus */
.button-grid button:focus {
    background: #003f8a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Form container */
#form-container {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 auto; /* Center the container */
    text-align: center;
}
